.Weather {
  border: 5px solid;
  padding: 15px;
  opacity: 0.6;
  border-radius: 4px;
}
.Weather h1 {
  font-size: 35px;
  margin: 0;
}
.Weather ul {
  margin: 0;
  padding: 0;
}
.Weather li {
  font-size: 20px;
  list-style: none;
}
.Weather h2 {
  font-size: 35px;
  line-height: 0.75;
  padding-top: 9px;
}
.Weather .description {
  font-size: 20px;
  font-weight: bold;
}
.Weather form {
  font-size: 20px;
  text-align: center;
  margin: 30px 0;
}
.Weather .col-2 {
  padding: 0;
  text-align: center;
}
@media (max-width: 768px) {
  .Weather h1 {
    font-size: 30px;
  }
  .Weather h2 {
    font-size: 30px;
  }
  .Weather li {
    font-size: 16px;
  }
  .Weather .description {
    font-size: 16px;
  }
  .Weather form {
    font-size: 16px;
  }
}
