.Weather {
  border: 5px solid;
  padding: 15px;
  opacity: 0.6;
  border-radius: 4px;
}
.Weather h1 {
  font-size: 48px;
  font-weight: bold;
}
.Weather ul {
  margin: 0;
  padding: 0;
}
.Weather li {
  font-size: 20px;
  list-style: none;
}
.Weather .weather {
  text-align: center;
}
.Weather .description {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}
.Weather h2 {
  font-size: 145px;
  line-height: 0.75;
  text-align: right;
  padding-top: 9px;
}
.Weather .col-2 {
  padding: 0;
}
.Weather .units {
  font-size: 42px;
}
.Weather form {
  font-size: 20px;
  text-align: center;
  margin: 30px 0;
}
